<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You for Creating an Account</title>
  </head>
  <body style="font-family: Arial, sans-serif">
    <div style="max-width: 600px; margin: 0 auto; padding: 20px">
      <h2>Hello {{nameUser}}</h2>
      <p>Thank you for joining our pizzeria! We're thrilled to have you as our customer.</p>
      <p>We're very excited to share with you the delicious pizzas we have to offer.</p>
      <p>Feel free to explore our menu and place your order whenever you like.</p>

      <div style="text-align: center; margin-top: 20px">
        <img src="./img/images_23.jpg" alt="Pizza" style="max-width: 100%; height: auto" />
      </div>

      <p>We're looking forward to serving you soon!</p>
      <p>Best regards,<br />Team at the Pizzeria</p>
    </div>
  </body>
</html>
